 <div class="center-box">
      <h1>Create a blackout poem!</h1>
        <ul class="right">
            <div class="ghost-button">get started</div>
        </ul>
    </div>

    <div id="text-box"></div>