<h1>Poesy</h1>

<p><%= link_to "Create Blackout Poem", new_blackout_poem_path %></p>
<p><%= link_to "Create Magnet Poem", new_magnet_poem_path %></p>
<p><%= link_to "Add Your Own Text Poem", new_source_path %></p>