 <div id="wrapper">
      <div id="header">
        <h1>Create your poem</h1>
      </div>
      <div id="content">
        <div class="draggable ui-widget-content" data-product="a"> a </div>
        <div class="draggable ui-widget-content" data-product="or"> or </div>
        <div class="draggable ui-widget-content" data-product="she"> she </div>
        <div class="draggable ui-widget-content" data-product="her"> her </div>
        <div class="draggable ui-widget-content" data-product="he"> he </div>
        <div class="draggable ui-widget-content" data-product="his"> his </div>
        <div class="draggable ui-widget-content" data-product="they"> they </div>
        <div class="draggable ui-widget-content" data-product="their"> their </div>
        <div class="draggable ui-widget-content" data-product="there"> there </div>
        <div class="draggable ui-widget-content" data-product="story"> story </div>
        <div class="draggable ui-widget-content" data-product="kiss"> kiss </div>
        <div class="draggable ui-widget-content" data-product="in"> in </div>
        <div class="draggable ui-widget-content" data-product="the"> the </div>
        <div class="draggable ui-widget-content" data-product="rain"> rain </div>
        <div class="draggable ui-widget-content" data-product="sky"> sky </div>
        <div class="draggable ui-widget-content" data-product="woods"> woods </div>
        <div class="draggable ui-widget-content" data-product="lovely"> lovely </div>
        <div class="draggable ui-widget-content" data-product="kind"> kind </div>
        <div class="draggable ui-widget-content" data-product="of"> of </div>
        <div class="draggable ui-widget-content" data-product="the"> the </div>
        <div class="draggable ui-widget-content" data-product="every"> every </div>
        <div class="draggable ui-widget-content" data-product="and"> and </div>
        <div class="draggable ui-widget-content" data-product="the"> the </div>
        <div class="draggable ui-widget-content" data-product="in"> in </div>
        <div class="draggable ui-widget-content" data-product="day"> day </div>
        <div class="draggable ui-widget-content" data-product="night"> night </div>
        <div class="draggable ui-widget-content" data-product="field"> field </div>
        <div class="draggable ui-widget-content" data-product="stormy"> stormy </div>
        <div class="draggable ui-widget-content" data-product="forever"> forever </div>
        <div class="draggable ui-widget-content" data-product="make"> make </div>
        <div class="draggable ui-widget-content" data-product="be"> be </div>
        <div class="draggable ui-widget-content" data-product="go"> go </div>
        <div class="draggable ui-widget-content" data-product="and"> and </div>
        <div class="draggable ui-widget-content" data-product="where"> where </div>
        <div class="draggable ui-widget-content" data-product="when"> when </div>
        <div class="draggable ui-widget-content" data-product="why"> why </div>
        <div class="draggable ui-widget-content" data-product="who"> who </div>
        <div class="draggable ui-widget-content" data-product="should"> should </div>
        <div class="draggable ui-widget-content" data-product="could"> could </div>
        <div class="draggable ui-widget-content" data-product="wait"> wait </div>
        <div class="draggable ui-widget-content" data-product="forever"> forever </div>
        <div class="draggable ui-widget-content" data-product="said"> said </div>
        <div class="draggable ui-widget-content" data-product="she"> she </div>
        <div class="draggable ui-widget-content" data-product="not"> not </div>
        <div class="draggable ui-widget-content" data-product="he"> he </div>
        <div class="draggable ui-widget-content" data-product="want"> want </div>
        <div class="draggable ui-widget-content" data-product="it"> it </div>
        <div class="draggable ui-widget-content" data-product="leave"> leave </div>
        <div class="draggable ui-widget-content" data-product="smile"> smile </div>
        <div class="draggable ui-widget-content" data-product="go"> go </div>
        <div class="draggable ui-widget-content" data-product="one"> one </div>
        <div class="draggable ui-widget-content" data-product="day"> day </div>
        <div class="draggable ui-widget-content" data-product="more"> more </div>
        <div class="draggable ui-widget-content" data-product="on"> on </div>
        <div class="draggable ui-widget-content" data-product="it"> it </div>
        <div class="draggable ui-widget-content" data-product="once"> once </div>
        <div class="draggable ui-widget-content" data-product="would"> would </div>
        <div class="draggable ui-widget-content" data-product="be"> be </div>
        <div class="draggable ui-widget-content" data-product="s"> s </div>
        <div class="draggable ui-widget-content" data-product="s"> s </div>
      </div>

      <div id="magnet-poem"></div>
