 <div id="wrapper">
      <div id="header">
        <h1>Create your poem</h1>
      </div>
      <style type="text/css">.word{display:inline-block;background-color:#FFF;font-family:Courier;border:1px solid #000;border-style:ridge;padding:5px;margin:5px}#content{margin:auto;padding-bottom:100px}</style>
  	<!--<script type="text/javascript">
		$( init );
		function init() {
		  $('.word').draggable();
		}
	</script>-->

      <div id="content">
        <div class="word"> a </div>
        <div class="word"> or </div>
        <div class="word"> she </div>
        <div class="word"> her </div>
        <div class="word"> he </div>
        <div class="word"> his </div>
        <div class="word"> they </div>
        <div class="word"> their </div>
        <div class="word"> there </div>
        <div class="word"> story </div>
        <div class="word"> kiss </div>
        <div class="word"> in </div>
        <div class="word"> the </div>
        <div class="word"> rain </div>
        <div class="word"> sky </div>
        <div class="word"> woods </div>
        <div class="word"> lovely </div>
        <div class="word"> kind </div>
        <div class="word"> of </div>
        <div class="word"> the </div>
        <div class="word"> every </div>
        <div class="word"> and </div>
        <div class="word"> the </div>
        <div class="word"> in </div>
        <div class="word"> day </div>
        <div class="word"> night </div>
        <div class="word"> field </div>
        <div class="word"> stormy </div>
        <div class="word"> forever </div>
        <div class="word"> make </div>
        <div class="word"> be </div>
        <div class="word"> go </div>
        <div class="word"> and </div>
        <div class="word"> where </div>
        <div class="word"> when </div>
        <div class="word"> why </div>
        <div class="word"> who </div>
        <div class="word"> should </div>
        <div class="word"> could </div>
        <div class="word"> wait </div>
        <div class="word"> forever </div>
        <div class="word"> said </div>
        <div class="word"> she </div>
        <div class="word"> he </div>
        <div class="word"> want </div>
        <div class="word"> it </div>
        <div class="word"> leave </div>
        <div class="word"> smile </div>
        <div class="word"> go </div>
        <div class="word"> one </div>
        <div class="word"> day </div>
        <div class="word"> more </div>
        <div class="word"> on </div>
        <div class="word"> it </div>
        <div class="word"> once </div>
        <div class="word"> wouldn't </div>
        <div class="word"> be </div>
        <div class="word"> s </div>
        <div class="word"> s </div>
      </div>
