// Place all the styles related to the magnet_poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.word {
  display:inline-block;
  background-color:#FFF;
  font-family:Courier;
  border:1px solid #000;
  border-style:ridge;
  padding:5px;
  margin:5px
}
#content {
  margin:auto;
  padding-bottom:100px
}